
<aside>
  
  
  <h3>Program Leadership</h3> <br>
  
  
	<div class="panel radius b30" style="display: flex;  justify-content: space-between; align-items: center; background-color: #fdfdfd;">
	  <div style="margin-right: 10px;">
  		<h4> <a href="https://ph.ucla.edu/about/faculty-staff-directory/may-c-wang">  May C. Wang </a> </h4>
  		<p>
          Professor, DrPH, MPH <br>
          Community Health Sciences
  		</p>
    </div>
		<img src="https://ph.ucla.edu/sites/default/files/styles/large/public/2023-04/May%20Wang%20500x500.png?itok=33Ty8ASK" alt="image not available" style="margin-right: 10px;" width="100" height="100">
	</div>
	
	
	
	<div class="panel radius b30" style="display: flex;  justify-content: space-between; align-items: center; background-color: #fdfdfd;">
	  <div style="margin-right: 10px;">
  		<h4>  <a href="https://ph.ucla.edu/about/faculty-staff-directory/hua-zhou">  Hua Zhou  </a> </h4>
  		<p>
          Professor, PhD, MS <br>
          Biostatistics and Computational Medicine
  		</p>
    </div>
		<img src="https://ph.ucla.edu/sites/default/files/styles/large/public/2022-12/___Hua_Zhou-3sq.jpg?itok=mcQYIRtA" alt="Image not available" style="margin-right: 10px;" width="100" height="100">
	</div>
	
	
	
	<div class="panel radius b30" style="display: flex;  justify-content: space-between; align-items: center; background-color: #fdfdfd;">
	  <div style="margin-right: 10px;">
  		<h4>  <a href="https://ph.ucla.edu/about/faculty-staff-directory/michael-prelip">  Michael Prelip  </a> </h4>
  		<p>
          Professor, DPA, MPH <br>
          Community Health Sciences
  		</p>
    </div>
  	<img src="https://ph.ucla.edu/sites/default/files/styles/large/public/2022-12/Michael%20Prelip_500x500.jpg?itok=wvNA9jyA" alt="Image not available" style="margin-right: 10px;" width="100" height="100">
	</div>
	
	
	<div class="panel radius b30" style="display: flex;  justify-content: space-between; align-items: center; background-color: #fdfdfd;">
    <div style="margin-right: 10px;">
        <h4>  <a href="https://ph.ucla.edu/about/faculty-staff-directory/roch-nianogo">  Roch Nianogo  </a> </h4>
        <p>
            Professor, MD, PhD <br>
            Epidemiology
        </p>
    </div>
    <img src="https://ph.ucla.edu/sites/default/files/styles/large/public/2022-08/Nianogo%2C%20R_500x500.JPG?itok=L0aYNRr3" alt="Image not available" width="100" height="100">
  </div>



	<h3>Contact</h3> <br>
	
	
	
	<div class="border-dotted radius b30" style="display: flex; align-items: center; background-color: #fdfdfd;">
		<img src="https://ph.ucla.edu/sites/default/files/styles/standard/public/2024-01/Emily-Abrahams-Headshot.jpg?itok=-qcVmwUa" alt="uh, Placekitten" style="margin-right: 10px;" width="150" height="150">
		
		<p class="text-left">
			<strong>Emily Abrahams</strong> <br>
			Program Manager <br>
			<a href="mailto:emilya89@ucla.edu"> emilya89@ucla.edu </a>
		</p>
	</div> 
	
	
<div class="border-dotted radius b30" style="background-color: #fdfdfd; color=#FFD100;  border: 3px solid #FFD700;">
		 <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
		
		<p class="text-left">
			Submit an application for the UCLA Modelers and Storytellers Transdisciplinary Training.
		</p>
	</div> 
	
	
	
</aside>
